altgraph==0.17.4
certifi==2023.7.22
charset-normalizer==3.3.0
colorama==0.4.6
decorator==4.4.2
idna==3.4
imageio==2.31.2
imageio-ffmpeg==0.4.9
importlib-metadata==6.7.0
moviepy==1.0.3
numpy==1.21.6
pefile==2023.2.7
Pillow==9.5.0
proglog==0.1.10
pyinstaller==5.13.2
pyinstaller-hooks-contrib==2023.10
pywin32-ctypes==0.2.2
requests==2.31.0
Send2Trash==1.8.2
tqdm==4.66.1
typing_extensions==4.7.1
urllib3==2.0.7
zipp==3.15.0
